@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../fonts/Roboto.woff");
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../fonts/Robotobold.woff");
}

body {
  background-color: red;
}