@import "variables";
@import "mixin";

.hide-scrollbar {
  @include hide-scrollbar;
}

$enable-shadows: true;

body {
  margin: 0 auto;
  font-family: Roboto, sans-serif !important;
  color: #212529;
}

.border-gray {
  border-color: $gray;
}

.border-r {
  border-radius: 1rem;
}

.pb-18px {
  padding-bottom: 18px;
}

.h-72px {
  height: 72px;
}

.sz-50px {
  @include wh(50px, 50px);
}

.sz-90px {
  @include wh(90px, 90px);
}

.sz-25px {
  @include wh(25px, 25px);
}

.sz-h {
  @include wh(15px, 25px);
}

[data-contact="contact-item"]:hover {
  background-color: $primary;
}

[data-contact="contact-font-name"], [data-chat="chat-font-name"] {
  margin: 0;
  font-weight: 700;
  color: #212529;
}

[data-contact="contact-font-status"],
[data-chat="chat-font-time"],
[data-chat="chat-font-message"] {
  margin: 0;
  color: $secondary;
}

[data-contact="contact-item"]:hover [data-contact^="contact-font"] {
  color: $light;
}

.text-overflow-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.h-sections {
  max-height: calc(100vh - 120px) ;
}
