@media screen and (414px <= width <= 767px) {
  #header {
    border-radius: 0;
  }

  #contacts {
    max-width: 414px;
  }

  .menu-item {
    display: none;
  }

  .h-sections {
    max-height: calc(100vh - 72px);
  }

  .pr-40px {
    padding-right: 40px;
  }

  .pl-21px {
    padding-left: 21px;
  }

  .w-45 {
    width: 55%;
  }
}
