@media screen and (414px <= width <= 767px) {
  #contacts {
    max-width: 414px;
  }

  .menu-item {
    display: none;
  }

  .h-sections {
    height: 100%;
  }

  .h-current-chat {
    height: calc(100vh - 246px);
  }
}

