.card.py-3.mb-3.border-0.text-center
  img(src="../images/avatar_1.jpg", alt="avatar").rounded-circle.sz-90px.mx-auto.d-block
  .card-body
    h6.card-title.mb-0.pb-4.fw-bold.lh-base Кодовёнок Хекслетович
    p.card-text.text-body.text-black-50 Милый и скромный помощник начинающих разработчиков. Люблю JavaScript
