extends template.pug

block variables
  - var page = "chat"

block left
  include ./contacts.pug
  + createContactsList(contacts)
  include ./chats.pug
  + createChatsList(chats)
  include ./profile.pug
  include ./chatMb.pug

block right
  include chatDesktop.pug

