header(id='header').order-md-0.order-lg-0.order-2
  div(role='tablist').h-72px.d-flex.flex-wrap.align-content-center.justify-content-between.justify-content-md-evenly.justify-content-lg-evenly
    a(href='./index.html' id='nav-home-tab' data-bs-toggle='tab' data-bs-target='#nav-home' type='button' role='tab' aria-controls='nav-home' aria-selected='false').nav-link.px-3
      img(src='../images/icons/logo.svg', alt='logotype').sz-h.invert
    .d-flex.flex-wrap.justify-content-evenly.flex-md-grow-1
      a(href='#contacts' id='nav-contacts-tab' data-bs-toggle='tab' data-bs-target='#nav-contacts' type='button' role='tab' aria-controls='nav-contacts' aria-selected='true').nav-link.active.pe-6.pe-md-0.pe-lg-0
        img(src='../images/icons/people.svg', alt='people').sz-25px.invert.me-md-2.me-lg-2
        span.text-light.small.menu-item Контакты
      a(href='#chats' id='nav-chats-tab' data-bs-toggle='tab' data-bs-target='#nav-chats' type='button' role='tab' aria-controls='nav-chats' aria-selected='false').nav-link.pe-6.pe-md-0.pe-lg-0
        img(src='../images/icons/chat.svg', alt='chat').sz-25px.invert.me-md-2.me-lg-2
        span.text-light.small.menu-item Сообщения
      a(href='#profile' id='nav-profile-tab' data-bs-toggle='tab' data-bs-target='#nav-profile' type='button' role='tab' aria-controls='nav-profile' aria-selected='false').nav-link.pe-6.pe-md-0.pe-lg-0
        img(src='../images/icons/person.svg', alt='person').sz-25px.invert.me-md-2.me-lg-2
        span.text-light.small.menu-item Профиль
