header(id='header').order-md-0.order-lg-0.order-2.radius-md-left-top.radius-lg-left-top.rounded-sm-0
  div(role='tablist').h-72px.d-flex.flex-wrap.align-content-center.justify-content-between.justify-content-md-evenly.justify-content-lg-evenly
    a(href='./index.html' id='home-tab' data-bs-toggle='tab' data-bs-target='#home' type='button' role='tab' aria-controls='home' aria-selected='false').nav-link.px-3
      img(src='../images/icons/logo.svg', alt='logotype').sz-h.invert
    nav.d-flex.flex-wrap.justify-content-evenly.flex-md-grow-1
      if page === 'chat'
        a(href='#current-chat' id='current-chat-tab' data-bs-toggle='tab' data-bs-target='#current-chat' type='button' role='tab' aria-controls='current-chat' aria-selected='false').d-md-none.d-lg-none.pe-6.pe-md-0.pe-lg-0
          i.bi.bi-chat-left-text.text-light.fs-3
      a(href='#contacts' id='contacts-tab' data-bs-toggle='tab' data-bs-target='#contacts' type='button' role='tab' aria-controls='contacts' aria-selected='true' class={active: page === "index"}).nav-link.pe-6.pe-md-0.pe-lg-0
        img(src='../images/icons/people.svg', alt='people').sz-25px.invert.me-md-2.me-lg-2
        span.text-light.small.menu-item Контакты
      a(href='#chats' id='chats-tab' data-bs-toggle='tab' data-bs-target='#chats' type='button' role='tab' aria-controls='chats' aria-selected='false' class={active: page === "chat"}).nav-link.pe-6.pe-md-0.pe-lg-0
        img(src='../images/icons/chat.svg', alt='chat').sz-25px.invert.me-md-2.me-lg-2
        span.text-light.small.menu-item Сообщения
      a(href='#profile' id='profile-tab' data-bs-toggle='tab' data-bs-target='#profile' type='button' role='tab' aria-controls='profile' aria-selected='false').nav-link.pe-6.pe-md-0.pe-lg-0
        img(src='../images/icons/person.svg', alt='person').sz-25px.invert.me-md-2.me-lg-2
        span.text-light.small.menu-item Профиль
