.position-sticky.top-0
  .d-flex.py-4.pe-6.border-bottom.border-gray
    include ./avatar.pug
    + avatar('../images/avatar_4.jpg')
    .d-flex.flex-column
      p(data-chat="chat-font-name").m-0 Вениамин Редакторович
      p(data-contact="contact-font-status").small.m-0 Онлайн
