header
  a(href='#')
    img(src="../images/icons/logo.svg", alt="logotype")
  nav
    a(href='#') Контакты
      img(src="../images/icons/people.svg", alt="people")
    a(href='#') Сообщения
      img(src="../images/icons/chat.svg", alt="chat")
    a(href='#') Профиль
      img(src="../images/icons/person.svg", alt="person")
