extends template.pug

block variables
  - var page = "index"

block left
  include ./contacts.pug
  + createContactsList(contacts)
  include ./chats.pug
  + createChatsList(chats)
  include ./profile.pug

block right
  include ./startpage.pug

