section(id='startpage').hide-scrollbar
  .text-center
    img(src="../images/avatar_1.jpg", alt="avatar").rounded-circle.pb-18px
    p.mb-0.text-dark.fw-bold Привет, Кодовёнок
    p.mb-0.text-secondary.small Выбери чат, чтобы начать общаться
